body {
    background-color: #d9fcfb;
}

h1 {
    text-align: center;
    font-size: 56px;
}

h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 32px;
}

p {
    text-align: left;
    font-family: "georgia";
    font-size: 24px;
    margin: 10%;
}

img {
    margin: 0 auto;
    border: 3px solid #51461a;
}

a:active {
    color: black;
}

a:visited {
    text-decoration: none;
    color: blue;
}