h1 {
    font-size: 65px;
    font-family: "Helvetica";
    text-align: center;
    line-height: 10px;
}

h2 {
    text-align: center;
    font-size: 24px;
    line-height: 5px;
}

h3 {
    line-height: 1;
    font-size: 16px;
}

p {
    text-align: left;
    font-family: "georgia";
}

ul {
    list-style-type: circle;
}

hr {
    border: 2px solid black;
}

#center {
    line-height: 5px;
    text-align: center;
}