h1 {
    font-size: 65px;
    text-decoration: underline overline;
    font-family: "Helvetica";
}

h2 {
    text-align: left;
    font-size: 32px;
}

h3 {
    line-height: 1;
    font-size: 16px;
}

p {
    text-align: left;
    font-family: "georgia";
}

ul {
    list-style-type: circle;
}